@font-face {
    font-family: Didact;
    src: url('/app/fonts/DidactGothic-Regular.ttf');
}

@font-face {
    font-family: RobotoCondensed;
    src: url('/app/fonts/RobotoCondensed-Light.ttf');
    font-weight: 300;
}

@font-face {
    font-family: RobotoCondensed;
    src: url('/app/fonts/RobotoCondensed-Regular.ttf');
    font-weight: 400;
}

@font-face {
    font-family: Monoton;
    src: url('/app/fonts/Monoton-Regular.ttf');
}